.Header {
  grid-area: header;
  background-color: var(--ds-header-bg);
  box-shadow: var(--ds-shadow-base);
  height: var(--ds-header-height);
  border-radius: 8px;
  z-index: 100;
  position: sticky;
  top: 8px;
}

.HeaderNavList {
  list-style: none;
  padding: 0;
  margin: 0;
}
