.Sidebar {
  grid-area: sidebar;
  background-color: var(--ds-sidebar-bg);
  box-shadow: var(--ds-shadow-base);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--ds-sidebar-width);
  z-index: 1000;
}
