.Sidebar {
  grid-area: sidebar;
  background-color: var(--ds-sidebar-bg);
  border-right: 1px solid var(--ds-gray-100);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--ds-sidebar-width);
  z-index: 1000;
}
