@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/GeistSans-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root,
[data-theme="light"] {
  --ds-background-100: #ffffff;
  --ds-background-200: #f9fafb;
  --ds-background-hover: #f2f2f2;
  --ds-heading-color: #171717;
  --ds-body-color: #4d4d4d;
  --ds-primary-bg: #171717;
  --ds-primary-fg: #ffffff;
  --ds-primary-border: transparent;
  --ds-primary-bg-hover: #383838;
  --ds-secondary-bg: #ffffff;
  --ds-secondary-fg: #171717;
  --ds-secondary-border: #eaeaea;
  --ds-secondary-bg-hover: #ebebeb;
  --ds-tertiary-bg: transparent;
  --ds-tertiary-fg: #171717;
  --ds-tertiary-border: transparent;
  --ds-tertiary-bg-hover: #ebebeb;
  --ds-danger-bg: #da3036;
  --ds-danger-fg: #f5f5f5;
  --ds-danger-border: transparent;
  --ds-danger-bg-hover: #ae292f;
  --ds-warning-bg: #ff990a;
  --ds-warning-fg: #0a0a0a;
  --ds-warning-border: transparent;
  --ds-warning-bg-hover: #d27504;
  --ds-disabled-bg: #f2f2f2;
  --ds-disabled-fg: #8f8f8f;
  --ds-disabled-border: #eaeaea;

  --ds-control-bg: var(--ds-background-100);
  --ds-control-fg: #000000;
  --ds-control-placeholder: #8f8f8f;
  --ds-control-border: #eaeaea;
  --ds-control-border-hover: #c9c9c9;
  --ds-control-shadow: 0 0 0 1px #0067d6, 0px 0px 0px 4px #e1f0ff;
  --ds-control-shadow-valid: 0 0 0 1px #297c3b, 0px 0px 0px 4px #dcf6dc;
  --ds-control-shadow-invalid: 0 0 0 1px #ca2a30, 0px 0px 0px 4px #ffe5e5;
  --ds-control-shadow-valid-hover: 0 0 0 1px #297c3b, 0px 0px 0px 4px #99e59f;
  --ds-control-shadow-invalid-hover: 0 0 0 1px #ca2a30, 0px 0px 0px 4px #f8baba;

  --ds-shadow-base: 0 0 0 1px #00000014, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --ds-shadow-small:
    0 0 0 1px #00000014, 0px 2px 2px #0000000a, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --ds-shadow-medium:
    0 0 0 1px #00000014, 0px 2px 2px #0000000a, 0px 8px 8px -8px #0000000a,
    0 0 0 1px hsla(0, 0%, 98%, 1);
  --ds-shadow-large:
    0 0 0 1px #00000014, 0px 2px 2px #0000000a, 0px 8px 16px -4px #0000000a,
    0 0 0 1px hsla(0, 0%, 98%, 1);
  --ds-shadow-tooltip:
    0 0 0 1px #00000014, 0px 1px 1px #00000005, 0px 4px 8px -4px #0000000a,
    0px 16px 24px -8px #0000000f, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --ds-shadow-menu:
    0 0 0 1px #00000014, 0px 1px 1px #00000005, 0px 4px 8px -4px #0000000a,
    0px 16px 24px -8px #0000000f, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --ds-shadow-modal:
    0 0 0 1px #00000014, 0px 1px 1px #00000005, 0px 8px 16px -4px #0000000a,
    0px 24px 32px -8px #0000000f, 0 0 0 1px hsla(0, 0%, 98%, 1);
  --ds-shadow-fullscreen:
    0 0 0 1px #00000014, 0px 1px 1px #00000005, 0px 8px 16px -4px #0000000a,
    0px 24px 32px -8px #0000000f, 0 0 0 1px hsla(0, 0%, 98%, 1);
}

[data-theme="dark"] {
  --ds-background-100: #0a0a0a;
  --ds-background-200: #000000;
  --ds-background-hover: #1a1a1a;
  --ds-heading-color: #ededed;
  --ds-body-color: #a0a0a0;
  --ds-primary-bg: #ededed;
  --ds-primary-fg: #0a0a0a;
  --ds-primary-border: transparent;
  --ds-primary-bg-hover: #cccccc;
  --ds-secondary-bg: #0a0a0a;
  --ds-secondary-fg: #ededed;
  --ds-secondary-border: #2e2e2e;
  --ds-secondary-bg-hover: #1a1a1a;
  --ds-tertiary-bg: transparent;
  --ds-tertiary-fg: #ededed;
  --ds-tertiary-border: transparent;
  --ds-tertiary-bg-hover: #1a1a1a;
  --ds-danger-bg: #da3036;
  --ds-danger-fg: #ffffff;
  --ds-danger-border: transparent;
  --ds-danger-bg-hover: #ff6369;
  --ds-warning-bg: #ff990a;
  --ds-warning-fg: #0a0a0a;
  --ds-warning-border: transparent;
  --ds-warning-bg-hover: #d27504;
  --ds-disabled-bg: #1a1a1a;
  --ds-disabled-fg: #8f8f8f;
  --ds-disabled-border: #2e2e2e;

  --ds-control-bg: var(--ds-background-100);
  --ds-control-fg: #ffffff;
  --ds-control-placeholder: #8f8f8f;
  --ds-control-border: #2e2e2e;
  --ds-control-border-hover: #454545;
  --ds-control-shadow: 0 0 0 1px #52a9ff, 0px 0px 0px 4px #0f3058;
  --ds-control-shadow-valid: 0 0 0 1px #63c174, 0px 0px 0px 4px #11351b;
  --ds-control-shadow-invalid: 0 0 0 1px #ff6369, 0px 0px 0px 4px #551a1e;
  --ds-control-shadow-valid-hover: 0 0 0 1px #63c174, 0px 0px 0px 4px #126427;
  --ds-control-shadow-invalid-hover: 0 0 0 1px #ff6369, 0px 0px 0px 4px #822025;

  --ds-shadow-base: 0 0 0 1px #ffffff25, 0 0 0 1px hsla(0, 0%, 0%, 1);
  --ds-shadow-small:
    0 0 0 1px #ffffff25, 0px 1px 2px #00000029, 0 0 0 1px hsla(0, 0%, 0%, 1);
  --ds-shadow-medium:
    0 0 0 1px #ffffff25, 0px 1px 2px #00000029, 0 0 0 1px hsla(0, 0%, 0%, 1);
  --ds-shadow-large:
    0 0 0 1px #ffffff25, 0px 2px 2px #0000000a, 0px 8px 16px -4px #0000000a,
    0 0 0 1px hsla(0, 0%, 0%, 1);
  --ds-shadow-tooltip:
    0 0 0 1px #ffffff25, 0px 1px 1px #00000005, 0px 4px 8px #0000000a,
    0 0 0 1px hsla(0, 0%, 0%, 1);
  --ds-shadow-menu:
    0 0 0 1px #ffffff25, 0px 1px 1px #00000005, 0px 4px 8px -4px #0000000a,
    0px 16px 24px -8px #0000000f, 0 0 0 1px hsla(0, 0%, 0%, 1);
  --ds-shadow-modal:
    0 0 0 1px #ffffff25, 0px 1px 1px #00000005, 0px 8px 16px -4px #0000000a,
    0px 24px 32px -8px #0000000f, 0 0 0 1px hsla(0, 0%, 0%, 1);
  --ds-shadow-fullscreen:
    0 0 0 1px #ffffff25, 0px 1px 1px #00000005, 0px 8px 16px -4px #0000000a,
    0px 24px 32px -8px #0000000f, 0 0 0 1px hsla(0, 0%, 0%, 1);
}

html {
  --ds-font-sans:
    "Geist Sans", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, system-ui, sans-serif;
  --ds-font-mono:
    "Geist Mono", "JetBrains Mono", "Fira Code", ui-monospace, "SFMono-Regular",
    "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", monospace;
  --ds-header-height: 3.5rem;
  --ds-sidebar-width: 16rem;
  --ds-header-bg: var(--ds-background-100);
  --ds-sidebar-bg: var(--ds-background-100);
  --ds-control-size-small: 32px;
  --ds-control-size-medium: 36px;
  --ds-control-size-large: 40px;
  --ds-button-size-small: 32px;
  --ds-button-size-medium: 36px;
  --ds-button-size-large: 40px;
}

body {
  font-family: var(--ds-font-sans);
  background-color: var(--ds-background-200);
  color: var(--ds-body-color);
  font-synthesis: none;
  font-feature-settings:
    "ss11" 1,
    "calt" 0;
  position: relative;
  isolation: isolate;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @supports (font-synthesis-weight: none) {
    :root {
      font-synthesis: initial;
      font-synthesis-weight: none;
    }
  }
}

.Layout {
  display: grid;

  &[data-layout="auth-layout"] {
    place-items: center;
    height: 100vh;
  }

  &[data-layout="admin-layout"] {
    grid-template-columns: var(--ds-sidebar-width) 1fr;
    grid-template-rows: var(--ds-header-height) 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar content";

    & > main {
      grid-area: content;
      padding: 1rem;
    }
  }
}

.Heading {
  font-family: var(--ds-font-sans);
  color: var(--ds-heading-color);
  font-weight: 600;
  hyphens: auto;

  &[data-size="1"] {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2.4px;
  }

  &[data-size="2"] {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.28px;
  }

  &[data-size="3"] {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
  }

  &[data-size="4"] {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.4px;
  }

  &[data-size="5"] {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }

  &[data-size="6"] {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
  }
}

.Material {
  background-color: var(--ds-background-100);
  padding: 1rem;

  &[data-size="base"] {
    box-shadow: var(--ds-shadow-base);
    border-radius: 6px;
  }

  &[data-size="small"] {
    box-shadow: var(--ds-shadow-small);
    border-radius: 6px;
  }

  &[data-size="medium"] {
    box-shadow: var(--ds-shadow-medium);
    border-radius: 12px;
  }

  &[data-size="large"] {
    box-shadow: var(--ds-shadow-large);
    border-radius: 12px;
  }
}
