.ErrorMessage {
  /* Layout & Grid */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 0.5rem;
  place-items: center;

  /* Typography & Text */
  overflow-wrap: break-word;
  color: var(--ds-error-color);

  /* ==========================================================================
     Sizes
     ========================================================================== */

  &[data-size="small"],
  &[data-size="medium"] {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &[data-size="large"] {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
