.Heading {
  color: var(--ds-gray-1000);
  font-weight: 600;
  hyphens: auto;

  &[data-size="1"] {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2.4px;
  }

  &[data-size="2"] {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.28px;
  }

  &[data-size="3"] {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
  }

  &[data-size="4"] {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.4px;
  }

  &[data-size="5"] {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }

  &[data-size="6"] {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
  }
}
