.Input {
  appearance: none;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  outline: none;
  display: grid;
  transition:
    border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  height: 2.25rem;
  width: 100%;
  line-height: 1.25rem;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  padding-inline: 0.75rem;
  color: var(--ds-gray-1000);
  background-color: var(--ds-background-100);
  border: 1px solid var(--ds-gray-400);

  &:hover {
    border-color: var(--ds-gray-500);
  }

  &:focus-within {
    border-color: transparent;
    box-shadow:
      0 0 0 1px var(--ds-gray-800),
      0px 0px 0px 4px var(--ds-gray-500);
  }

  &[data-valid] {
    border-color: transparent;
    box-shadow:
      0 0 0 1px var(--ds-green-900),
      0px 0px 0px 4px var(--ds-green-300);

    &:hover {
      box-shadow:
        0 0 0 1px var(--ds-green-900),
        0px 0px 0px 4px var(--ds-green-300);
    }

    &:focus-within {
      box-shadow:
        0 0 0 1px var(--ds-green-900),
        0px 0px 0px 4px var(--ds-green-300);
    }
  }

  &[data-invalid] {
    border-color: transparent;
    box-shadow:
      0 0 0 1px var(--ds-red-900),
      0px 0px 0px 4px var(--ds-red-300);

    &:hover {
      box-shadow:
        0 0 0 1px var(--ds-red-900),
        0px 0px 0px 4px var(--ds-red-500);
    }

    &:focus-within {
      box-shadow:
        0 0 0 1px var(--ds-red-900),
        0px 0px 0px 4px var(--ds-red-300);
    }
  }
}
