.Select {
  --_select-height: var(--ds-control-size-medium);
  appearance: base-select;
  transition:
    border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  color: var(--ds-gray-1000);
  border-radius: 0.375rem;
  border: var(--ds-control-border);
  background-color: var(--ds-background-100);
  height: var(--_select-height);
  width: 6rem;
  display: flex;
  align-items: center;

  &:hover {
    border: var(--ds-control-border-hover);
  }

  &:open {
    border: var(--ds-control-border-active);
    box-shadow: var(--ds-control-shadow);
  }

  &::picker-icon {
    color: var(--ds-gray-1000);
  }

  &::picker(select) {
    appearance: base-select;
    border: 1px solid transparent;
    background-color: var(--ds-background-100);
    box-shadow: var(--ds-shadow-menu);
    padding: 6px;
    border-radius: 12px;
    margin-top: 0.225rem;
    position-area: bottom span-right;
    position-try-fallbacks: none;
    max-height: none;
    height: max-content;
    overflow: visible;
  }

  &[data-size="small"] {
    --_select-height: var(--ds-control-size-small);
  }
  &[data-size="medium"] {
    --_select-height: var(--ds-control-size-medium);
  }
  &[data-size="large"] {
    --_select-height: var(--ds-control-size-large);
  }
}

.SelectOption {
  color: var(--ds-gray-1000);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  height: var(--_select-height);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--ds-gray-alpha-100);
  }

  &::checkmark {
    order: 1;
    margin-left: 0.5rem;
  }
}
